:root {
    --primary-color: #cf2b4e;
    --background-color: #f0f3f7;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: #ffffff;
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
    
}
a {
    color: unset;
    text-decoration: none;
}

video
{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: all 1.2s linear;
    z-index: -10;
}

#video1
{
    opacity: 1;
}
#video2
{
    opacity: 0;
}
#video3
{
    opacity: 0;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.text 
{
    text-align: right;
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 35px;
    letter-spacing: 6px;
}
.text h1
{
    color: var(--primary-color);
    text-align: center;
}
.text p
{
    color: var(--background-color);
    text-align: center;
    padding: 65px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    font-weight: 600;
    color: var(--grey);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.cart-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.cart-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
}
.book-butt
{
   text-align: center;
    align-items: center;
    margin-left: 250px;
    font-weight: bold;
    float: left;
    height: 100%;
    width: 120px;
    padding: 10px;
    border-radius: 20rem;
    color: white;
   background-color: var(--primary-color);
 
}

.cook-butt
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
   margin-left: 450px;
   height: 100%;
   width: 120px;
   padding: 10px;
   border-radius: 20rem;
   color: white;
   background-color: var(--primary-color);
    
}
