/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

:root {
  --primary-color: #cf2b4e;
  --background-color: #f0f3f7; 
  --white:#ffffff;
  --grey:#434241
}
*
{
  font-family: "Coda", sans-serif;
  margin: 0;
  padding: 0;
  
  
}
html {
	background: url(https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
a {
  color: unset;
  text-decoration: none;
}

body {
 
  padding: 2.23em;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--background-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.space
{
  margin-top: 50px;
}
.logo {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin-left: 1rem;
  padding: .5rem 1.5rem;
  font-weight: 600;
  color: var(--grey);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 1rem;
}

.cart-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.cart-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 1rem;
}

.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.user-profile {
  margin: auto;
	width: 550px; 
  height: 700px;
  background: #fff;
  border-radius: .3em;
}


.user-profile  .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.level-up
{
  padding: 2px;
  color: white;
  width: auto;
  background-color: var(--primary-color);
  border-radius: 20rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile ul.data {
	margin: 2em auto;
	height: 3.70em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}
.full-container
{
  background-color: var(--primary-color);
  color: white;
  
  width: 550px;
  height: 70px;
}
.container {
  width: 500px;
  height: 20px;
  background-color:aliceblue;
  border: 1px solid black;
  
  border-radius:20rem;
  margin-bottom: 10px;
}

#progression-bar {
  height: 20px;
  background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
  transition: 1s ease 0.3s;
  border-radius:20rem;
  color: gray;
  width: 0%;
}

button{
  margin-top: 10px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 10px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

